<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <form [formGroup]="userForm"] (ngSubmit)="submitForm()">
        <!-- FullName -->
        <div class="row mb-4">
          <div class="col-3">
            <label for="fullName" class="control-label">FullName</label>
          </div>
          <div class="col-9">
            <input type="text" name="fullName" id="fullName" formControlName="fullName" class="form-control" placeholder="Enter FullName" [class.is-invalid]="fullName?.touched && fullName?.invalid" [class.is-valid]="fullName?.touched && fullName?.valid">
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (fullName?.touched && fullName?.invalid) {
            <div class="invalid-feedback d-block">
              @if (fullName?.errors?.['required']) {
                <span>FullName is required</span>
              }
              @if (fullName?.errors?.['minlength']) {
                <span>Fullname should be minimum 3 characters</span>
              }
            </div>
          }
          </div>
        </div>
        <!-- Email -->
        <div class="row mb-4">
          <div class="col-3">
           <label for="email" class="control-label">Email</label>
          </div>
          <div class="col-9">
           <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Enter email" [class.is-invalid]="email?.touched && email?.invalid" [class.is-valid]="email?.touched && email?.valid">
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (email?.touched && email?.invalid) {
            <div class="invalid-feedback d-block">
              @if (email?.errors?.['required']) {
                <span>Email is required</span>
              }
              @if (email?.errors?.['email']) {
                <span>Pleae enter correct email format</span>
              }
            </div>
          }
          </div>
        </div>
        <!-- Password -->
        <div class="row mb-4">
          <div class="col-3">
            <label for="password" class="form-label">Password</label>
          </div>
          <div class="col-9">
            <input type="password" name="password" id="password" class="form-control" formControlName="password" placeholder="Enter Password" [class.is-invalid]="password?.touched && password?.invalid" [class.is-valid]="password?.touched && password?.valid">
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (password?.touched && password?.invalid) {
            <div class="invalid-feedback d-block">
              @if (password?.errors?.['required']) {
                <span>Password is required</span>
              }
              @if (password?.errors?.['minlength']) {
                <span>Password should be minimum 3 characters</span>
              }
            </div>
          }
          </div>
        </div>
        <!-- Gender -->
        <div class="row mb-4">
          <div class="col-3">
            <label for="gender" class="form-label">Gender</label>
          </div>
          <div class="col-9">
            <div class="form-check form-check-inline">
              <input type="radio" name="gender" id="male" class="form-check-input" formControlName="gender" value="Male">
              <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="gender" id="female" formControlName="gender" class="form-check-input" value="Female">
              <label for="female" class="form-check-label">Female</label>
            </div>
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (gender?.touched && gender?.invalid ) {
              <div class="invalid-feedback d-block">
                @if (gender?.errors?.['required']) {
                  <span>Please select Gender</span>
                }
              </div>
            }
          </div>
        </div>
        <!-- City -->
        <div class="row mb-4">
          <div class="col-3">
            <label for="city" class="form-label">City</label>
          </div>
          <div class="col-9">
            <select name="city" id="city" class="form-select" formControlName="city" [class.is-invalid]="city?.touched && city?.invalid" [class.is-valid]="city?.touched && city?.valid">
              <option value="">Select City</option>
              <option value="bangalore">Bangalore</option>
              <option value="chennai">Chennai</option>
              <option value="coimbatore">Coimbatore</option>
              <option value="hyderabad">Hyderabad</option>
            </select>
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (city?.touched && city?.invalid) {
            <div class="invalid-feedback d-block">
              @if (city?.errors?.['required']) {
                <span>City is required</span>
              }
            </div>
          }
          </div>
        </div>
        <!-- About -->
        <div class="row mb-4">
          <div class="col-3">
            <label for="about" class="form-label">About</label>
          </div>
          <div class="col-9">
            <textarea name="about" id="about" class="form-control" formControlName="about" placeholder="Enter your details here..." [class.is-invalid]="about?.touched && about?.invalid" [class.is-valid]="about?.touched && about?.valid"></textarea>
          </div>
          <div class="col-3"></div>
          <div class="col-9">
            @if (about?.touched && about?.invalid) {
            <div class="invalid-feedback d-block">
              @if (about?.errors?.['required']) {
                <span>About is required</span>
              }
            </div>
          }
          </div>
        </div>
        <!-- Accept Terms -->
        <div class="row mb-4">
          <div class="col-12 mb-4">
            <div class="form-check">
              <input type="checkbox" name="acceptTerms" id="acceptTerms" formControlName="acceptTerms" class="form-check-input">
              <label for="acceptTerms" class="form-check-label">Please accept the Terms and Conditions</label>
            </div>
          </div>
          <div class="col-9">
            @if (acceptTerms?.touched && acceptTerms?.invalid) {
            <div class="invalid-feedback d-block">
              @if (acceptTerms?.errors?.['required']) {
                <span>Please accept Terms and Conditions</span>
              }
            </div>
          }
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <pre>{{ userForm.value | json }}</pre>
      </form>
    </div>
  </div>
</div>
